
.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json

.ploomesdev
.dockerignore
.git
**/appsettings.json
